.container{
    margin-bottom: 80px;
}

.para{
    text-align: justify;
}

.title{
    color: #ffb826;
    margin-bottom: 2rem;
}

.btn:hover{
    color: #fff;
}
 .orange-bg{
     background-color: #fceae8;
     border-radius: 10px ;
 }

 .carousel-item{
     padding: 20px 40px;
 }

 .price{
     color: #FF136F;
 }

 .buy-now-button{
     background-image: linear-gradient(to right,#fbb034 0%,#FFE000  100%  );
     color: #fff;
     border: none;
     border-radius: 8px;
     padding: 9px 25px;
     cursor: pointer;

 }

 /* categories  */

 .cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
    

 }

 .cat-1{
     background-color: orange;
     
 }

 .cat-2{
    background-color: orchid;
}

.cat-3{
    background-color: skyblue;
}

.categories h1{
    color: #fff;
}

.categories img{
    width: 130px;
}

/* card section  */
.card-body .card-text{
    text-align: justify;
}

.card{
    border: none;
    border-radius: 10px;
    /* box-shadow: 5px 10px 10px lightblue; */
}

/* subscibe section  */
 #grey{
     color: lightslategrey;
 }

.rounded-1{
    border:.1px solid grey;
    padding: 5px;
}

#subscribe h6{
    color: grey;
    font-weight: normal;
    text-align: center;
}

#sub{
    margin-left: 6rem;
}

footer{
    text-align: center;
}

hr{
    color: rgb(137, 5, 5);
}